.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  /* background-color: rgba(255, 255, 255, 0.7); */
  z-index: 999;
}

.circle {
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-block;
  transform: scale(0);
  animation: bulge 2s infinite ease-in-out;
}

.circle::after {
  position: absolute;
  display: inline-block;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1);
  animation: blow 2s infinite ease-in-out;
}

.circle:nth-child(1) {
  background-color: #4695B8;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  background-color: #67A142;
  animation-delay: .25s;
}

.circle:nth-child(3) {
  background-color: #8FC0A7;
  animation-delay: .50s;
}


@keyframes bulge {
  50% {
    transform: scale(1);
  }
}


@keyframes blow {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}